gety_back/.idea

gety_front/*.class
gety_front/*.log
gety_front/*.pyc
gety_front/*.swp
gety_front/.DS_Store
gety_front/.atom/
gety_front/.buildlog/
gety_front/.history
gety_front/.svn/
gety_front/*.iml
gety_front/*.ipr
gety_front/*.iws
gety_front/.idea/
gety_front/**/doc/api/
gety_front/.dart_tool/
gety_front/.flutter-plugins
gety_front/.flutter-plugins-dependencies
gety_front/.packages
gety_front/.pub-cache/
gety_front/.pub/
gety_front/build/
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages